<!DOCTYPE html>
<html>

<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div>

<form method="post" th:object="${bookVO}" class="was-validated">
	<div>
	제목
	<input th:field="*{title}" required="required">
	</div>
	
	<div>
	출판사
	<input th:field="*{comp}" required="required">
	</div>
	
	<div>
	작가
	<input th:field="*{auth}" required="required">
	</div>
	
	<div>
	출판연도
	<input th:field="*{year}" required="required">
	</div>
	
	<div>
	가격
	<input th:field="*{price}" required="required">
	</div>
	
	<button>등록</button>
</form>	
	
</div>

</body>
</html>